html 
head 
    link(rel='stylesheet', href='styles.css')
    title='Edit page'
body
    header
        a(href='/Users') All users
    div.container
        form(action='/Users', method='post', class="form") 
            label(for='userName') Username:
            input(type='text', id='userName', name='userName', class='input', value=`jkl;kj`)
            label(for='name') Name:
            input(type='text', id='name', name='name', class='input', value=`veronica fernandez mitre`)
            label(for='email') Email:
            input(type='text', id='email', name='email', class='input', value=`veronicamitre27@gmail.com`)
            label(for='age') Age:
            input(type='text', id='age', name='age', class='input', value=`26`) 
            button(class='submit') Send