html 
    head 
        link(href="styles.css" rel="stylesheet")
a(href="home") Home 
table   
    tr
        th Name
        th Username
        th Email
        th Age
        th User ID
    
    
    
    
    
    
    
    